@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --color-background: #31037d;
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;
  --color-foreground: var(--color-white);
  --font-name: Righteous;
}

html,
body {
  margin: 0;
  font-size: 20px;
}

body {
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-name);
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.rightCSS {
  background: #d1262e;
  color: white;
  overflow: hidden;
  width: 100vw;
  position: absolute;
  bottom: 10px;
}
.rightCSS p {
  position: relative;
  animation: CSSright linear 18s infinite;
}

@keyframes CSSright {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.rightCSS:hover div {
  animation-play-state: paused;
}

.rotate-340 {
  transform: rotate(340deg);
}
