body {
  position: relative;
}
.frame {
  background-color: aquamarine;
  h3 {
    font-size: 24px;
    text-transform: uppercase;
  }
  h1 {
    font-size: 60px;
    color: red;
    text-transform: uppercase;
    text-align: center;
  }
  h4 {
    text-transform: uppercase;
    font-size: 30px;
    color: white;
  }
  p {
    font-size: 30px;
    text-transform: uppercase;
  }
  &__check {
    position: absolute;
    bottom: 310px;
    left: 65px;
    text-align: center;
    h1 {
      color: red;
    }
  }
  &__track-cover {
    position: absolute;
    background-color: azure;
    height: 200px;
    width: 207px;
    bottom: 78px;
    left: 40px;
  }
  &__track {
    position: absolute;
    bottom: 85px;
    right: 36px;
    display: flex;
    width: 965px;
    height: 124px;
    flex-direction: column;
    overflow: hidden;
    h3 {
      align-self: flex-end;
      color: white;
      margin-right: 38px;
      margin-top: 12px;
    }
    h1 {
      color: black;
      margin-left: 20px;
      margin-top: 18px;
    }
  }
  &__marquee {
    position: absolute;
    color: white;
    bottom: 18px;
    left: 40px;
    display: flex;
    width: 1200px;
    h4 {
      margin-bottom: 2px;
      width: 25%;
      white-space: nowrap;
    }
    p {
      // margin: 0 0 0 20px;
    }
  }
}

div.main {
  width: 75%;
  overflow: hidden;
  background-color: transparent;
  height: 30px;
}
div.slide-right p {
  -moz-animation: 5s slide-right;
  -webkit-animation: 5s slide-right;
  -o-animation: 5s slide-right;
  animation: 5s slide-right;
  margin: 0;
}
div.slide-left p {
  -moz-animation: 5s slide-left;
  -webkit-animation: 5s slide-left;
  -o-animation: 5s slide-left;
  animation: 5s slide-left;
  margin: 0;
}
@-webkit-keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-moz-keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-o-keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes slide-left {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: -200%;
    width: 300%;
  }
}
@-moz-keyframes slide-left {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: -100%;
    width: 300%;
  }
}
@-o-keyframes slide-left {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: -100%;
    width: 300%;
  }
}
@keyframes slide-left {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: -100%;
    width: 300%;
  }
}
