body {
  position: relative;
}
.frame {
  background-color: aquamarine;
  h3 {
    font-size: 24px;
    text-transform: uppercase;
  }
  h1 {
    font-size: 60px;
    color: red;
    text-transform: uppercase;
  }
  h4 {
    text-transform: uppercase;
    font-size: 24px;
    color: white;
  }
  p {
    font-size: 20px;
  }
  &__check {
    position: absolute;
    bottom: 320px;
    left: 65px;
    text-align: center;
    h1 {
      color: red;
    }
  }
  &__track-cover {
    position: absolute;
    background-color: azure;
    height: 200px;
    width: 207px;
    bottom: 78px;
    left: 40px;
  }
  &__track {
    position: absolute;
    bottom: 78px;
    right: 36px;
    display: flex;
    width: 965px;
    height: 124px;
    flex-direction: column;
    overflow: hidden;
    h4 {
      align-self: flex-end;
      color: white;
      margin-right: 38px;
      margin-top: 6px;
    }
    h1 {
      color: black;
      margin-left: 20px;
      margin-top: 18px;
    }
  }
  &__marquee {
    position: absolute;
    color: white;
    bottom: 22px;
    left: 40px;
    display: flex;
    width: 1200px;
    h4 {
      margin-bottom: 2px;
    }
    p {
      margin: 3px 0 0 20px;
    }
  }
}
