*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  width: 1280px;
  height: 720px; }

.background {
  width: 225vw;
  height: 225vh;
  position: fixed;
  top: -62.5%;
  left: -62.5%;
  z-index: -1;
  padding: 0;
  animation: rotation 90s infinite linear;
  background-image: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 50.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); }

.page-text {
  text-align: center;
  padding-top: 50vh;
  color: black; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

body {
  position: relative; }

.frame {
  background-color: transparent; }
  .frame h3 {
    font-size: 24px;
    text-transform: uppercase; }
  .frame h1 {
    font-size: 60px;
    color: red;
    text-transform: uppercase;
    text-align: center; }
  .frame h4 {
    text-transform: uppercase;
    font-size: 30px;
    color: white; }
  .frame p {
    font-size: 30px;
    text-transform: uppercase; }
  .frame__check {
    position: absolute;
    bottom: 310px;
    left: 65px;
    text-align: center; }
    .frame__check h1 {
      color: red; }
  .frame__track-cover {
    position: absolute;
    background-color: azure;
    height: 200px;
    width: 207px;
    bottom: 78px;
    left: 40px; }
  .frame__track {
    position: absolute;
    bottom: 85px;
    right: 36px;
    display: flex;
    width: 965px;
    height: 124px;
    flex-direction: column;
    overflow: hidden; }
    .frame__track h3 {
      align-self: flex-end;
      color: white;
      margin-right: 38px;
      margin-top: 12px; }
    .frame__track h1 {
      color: black;
      margin-left: 20px;
      margin-top: 18px; }
  .frame__marquee {
    position: absolute;
    color: white;
    bottom: 18px;
    left: 40px;
    display: flex;
    width: 1200px; }
    .frame__marquee h4 {
      margin-bottom: 2px;
      width: 25%;
      white-space: nowrap; }

div.main {
  width: 75%;
  overflow: hidden;
  background-color: transparent;
  height: 30px; }

div.slide-right p {
  -moz-animation: 5s slide-right;
  -webkit-animation: 5s slide-right;
  -o-animation: 5s slide-right;
  animation: 5s slide-right;
  margin: 0; }

div.slide-left p {
  -moz-animation: 5s slide-left;
  -webkit-animation: 5s slide-left;
  -o-animation: 5s slide-left;
  animation: 5s slide-left;
  margin: 0; }

@-webkit-keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@-moz-keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@-o-keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@keyframes slide-right {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@-webkit-keyframes slide-left {
  from {
    margin-left: 0%;
    width: 100%; }
  to {
    margin-left: -200%;
    width: 300%; } }

@-moz-keyframes slide-left {
  from {
    margin-left: 0%;
    width: 100%; }
  to {
    margin-left: -100%;
    width: 300%; } }

@-o-keyframes slide-left {
  from {
    margin-left: 0%;
    width: 100%; }
  to {
    margin-left: -100%;
    width: 300%; } }

@keyframes slide-left {
  from {
    margin-left: 0%;
    width: 100%; }
  to {
    margin-left: -100%;
    width: 300%; } }
