<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/camshow/style.css" />
    <title>Админка</title>
  </head>
  <body>
    <div class="w-screen text-gray-900 bg-gray-200">
      <div class="p-4 flex justify-between">
        <h1 class="text-3xl">
          <%= page_content.page_title %>
        </h1>
        <button
          class="self-end uppercase shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded"
        >
          Create new
        </button>
      </div>
      <%- include('components/table.ejs') %>

      </div>
    </div>
  </body>
  <script src="/js/admin.js"></script>
  <script src="/js/utils/easy_http.js"></script>
</html>
