<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="10" /> -->
    <link rel="stylesheet" href="/css/camshow/style.css" />
    <title>Vinyl Shop On The Sofa</title>
  </head>
  <body>
    <!-- <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: "2951985384847622",
          cookie: true,
          xfbml: true,
          version: "v7.0",
        });

        FB.AppEvents.logPageView();
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script> -->

    <div
      class="bg-local h-48 w-48 flex flex-col justify-center rotate-340"
      style="background-image: url(/src/frame/sale.svg);"
    >
      <p class="flex self-center text-white leading-6">Цена сейчас!</p>
      <h1 class="flex self-center text-white leading-6 text-6xl mt-3">
        290
      </h1>
      <p class="flex self-center text-white leading-6">грн</p>
    </div>

    <!-- <div id="chat"></div>
    <input id="msg" type="text" /> -->
    <!-- <ul class="c-rainbow">
      <li class="c-rainbow__layer c-rainbow__layer--white">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--orange">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--red">СЛАДКИЙ ПИРОЖОК ❤️</li>
      <li class="c-rainbow__layer c-rainbow__layer--violet">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--blue">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--green">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--yellow">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
    </ul> -->

    <div class="rightCSS li">
      <p id="stripe">
        BREAKING NEWS!!! BREAKING NEWS!!! BREAKING NEWS!!! BREAKING NEWS!!!
      </p>
    </div>
  </body>
  <script src="/js/frame.js"></script>
</html>
