<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="10" /> -->
    <link rel="stylesheet" href="/css/camshow/style.css" />
    <title>Vinyl Shop On The Sofa</title>
  </head>
  <body>
    <h1>Chat</h1>
    <div id="chat"></div>
    <input id="msg" type="text" />
    <ul class="c-rainbow">
      <li class="c-rainbow__layer c-rainbow__layer--white">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--orange">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--red">СЛАДКИЙ ПИРОЖОК ❤️</li>
      <li class="c-rainbow__layer c-rainbow__layer--violet">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--blue">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--green">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
      <li class="c-rainbow__layer c-rainbow__layer--yellow">
        СЛАДКИЙ ПИРОЖОК ❤️
      </li>
    </ul>

    <div class="rightCSS li">
      <p id="stripe">
        BREAKING NEWS!!! BREAKING NEWS!!! BREAKING NEWS!!! BREAKING NEWS!!!
      </p>
    </div>
  </body>
  <script src="/js/frame.js"></script>
</html>
