<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="10" /> -->
    <!-- <link rel="stylesheet" href="/css/camshow/style.css" /> -->
    <link rel="stylesheet" href="/css/camshow/frame.css" />
    <title>Vinyl Shop On The Sofa</title>
  </head>
  <body>
    <div class="frame">
      <div class="frame__check">
        <h3 id="price-title">ціна зараз!</h3>
        <h1 id="price-value">600</h1>
        <p id="price-cur">гривень</p>
      </div>
      <img src="" alt="тут должен тут должен быть кавер" id="cover" class="frame__track-cover" />
      <div class="frame__track">
        <h3>зараз грає</h3>
        <!-- <h1 class="frame__track__track-info">equazion - some pretty long record title...</h1> -->
        <h1 id="track-info">Вeбкам модель Igor666</h1>
      </div>
      <div class="frame__marquee">
        <h4 id="post-author">Eugene Berchy:</h4>
        <div class="main slide-right">
          <p>It s better to burn out, than to fade away.</p>
        </div>
      </div>
      <img src="/src/frame/frame_complete_2.svg" alt="блять, рамка пропала" />
    </div>
  </body>
  <script>
    window.fbAsyncInit = async function () {
      FB.init({
        appId: "173485904628296",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v10.0",
      });
      let comments = await FB.api(
        "/807234366665480/comments",
        {
          access_token:
            "EAACdyNW4CkgBAFs2dlkwDNMg0uAwireUC7hpaPu4lWDkAh52No6lizHrBGg2cu51QRho8dUW7lDRMNTZCpLEzLZA2GjxV63zWOqpKZAB1sBmrVtCiRI8OVI7SKV7IZCEaOlFrKsilt2ZAveIRFalfBSWwYR3Dm5Prsz4vhsSr1YwphWk0WRWB82dTZBOGKeloQMCcpEt7fNKPgkMUxt8eN28C616CqmXrcsyX8fyatiwlZCDKK6eLplVmjWZC0oGQSkZD",
        },
        function (response) {
          if (response && !response.error) {
            return response;
            /* handle the result */
          }
          // console.log(1, response);
        }
      );
      setInterval(comments, 10000);
      console.log(comments);
    };
  </script>
  <script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js"
  ></script>

  <script src="/js/common.js"></script>
  <script src="/js/frame.js"></script>
</html>
